.loginTitle {
    display: flex;
    justify-items: center;
    font-size: var(--fontSize-title-h1);
    padding: var(--padding);
    margin: var(--margin);
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--padding);
    margin-right: 10%;
    margin-top: 5%;
    padding: 2%;
    background-color:var(--primary-color);
    border: 0px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 15px;
    color: white;
    font-weight: 600;
}

.mdpO {
    display: flex;
    width: 70%;
    padding: var(--padding);
    padding: 1%;
}